In [1]:
import pandas as pd
import numpy as np

In [13]:
X_train_data=pd.read_csv("data/small_dataset/data_2D/train/train.csv").drop(columns=["Unnamed: 0"])
display(X_train_data.head())

# X_test_data=pd.read_csv("data/small_dataset/data_3D/test/test.csv").drop(columns=["Unnamed: 0"])
# display(X_test_data.head())

,X_0,Y_0,Z_0,X_1,Y_1,Z_1,X_2,Y_2,Z_2,X_3,...,Z_29,X_30,Y_30,Z_30,X_31,Y_31,Z_31,X_32,Y_32,Z_32
0,2.828839,0.423392,0.415314,3.233280,0.515086,0.279445,3.382928,0.548685,0.230653,3.543431,...,0.719133,1.741720,0.205445,0.740747,1.511687,0.103929,0.696268,1.845736,0.155022,0.681697
1,1.381691,0.097386,0.866872,1.377327,0.095385,0.872432,1.375127,0.093936,0.873326,1.374142,...,0.673280,1.591470,0.135298,0.674425,1.434330,0.078734,0.674250,1.570873,0.132920,0.682585
2,1.304942,0.084829,0.885109,1.299574,0.082430,0.891857,1.293062,0.079867,0.894292,1.288177,...,0.796927,2.348281,0.303343,0.772202,0.266334,-0.197001,0.571566,1.103173,0.045387,0.666031
3,1.295548,0.098427,0.881159,1.293603,0.097135,0.886935,1.289219,0.095386,0.888658,1.284589,...,0.633161,1.205666,0.053165,0.653815,1.084993,0.010385,0.640754,1.195926,0.073491,0.667534
4,1.233472,0.105397,0.894467,1.229241,0.103987,0.901779,1.219025,0.101584,0.905282,1.210588,...,0.678169,1.101435,0.042771,0.648668,1.274713,0.081070,0.683361,1.152987,0.076003,0.664949

In [14]:
X_train_data[2000:2005]

,X_0,Y_0,Z_0,X_1,Y_1,Z_1,X_2,Y_2,Z_2,X_3,...,Z_29,X_30,Y_30,Z_30,X_31,Y_31,Z_31,X_32,Y_32,Z_32
2000,1.365182,0.192908,0.818807,1.377669,0.195188,0.820432,1.371873,0.196587,0.822049,1.368904,...,0.683815,1.434315,0.147736,0.706046,1.432948,0.159748,0.696228,1.405917,0.149099,0.697853
2001,1.389916,0.191036,0.813465,1.405227,0.192856,0.814365,1.401851,0.193930,0.815385,1.399036,...,0.797740,0.787081,0.145480,0.763672,0.580895,0.167035,0.761768,0.870536,0.145979,0.746179
2002,1.423944,0.188148,0.797858,1.440570,0.190160,0.798602,1.438390,0.191275,0.799438,1.435256,...,0.743801,1.583015,0.173810,0.723229,1.643335,0.222328,0.735147,1.543987,0.160915,0.713700
2003,1.410974,0.186051,0.788210,1.418296,0.187452,0.790803,1.413732,0.188313,0.792098,1.409785,...,0.733962,1.646973,0.154698,0.702144,1.678784,0.184975,0.713115,1.571686,0.151811,0.702034
2004,1.403729,0.186978,0.788912,1.410188,0.188412,0.792112,1.406336,0.189178,0.793506,1.403209,...,0.688131,1.472866,0.148760,0.704779,1.687123,0.156939,0.693961,1.309199,0.162356,0.708186